<p><%= flash[:alert] %></p>
<h2>Restaurant information</h2>

<div style="border: 1px solid #ffffff">
  <h4> Title: <%= @post.title %></h4>
  <p style="color: #ff0000">Classification: <%= @post.category %></p>
  <p>Content: <%= @post.content %></p>

  <p><a href="/">Go to whole list</a></p>
</div>
