<div class="conatiner">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3 class="form-heading"> Add restaurant </h3>

      <form action="/foods/write_complete" method="post" enctype="multipart/form-data">
        <p>+ Kind:
        <select name="post_category">
          <option value="Korean">Korean</option>
          <option value="Japanese">Japanese</option> 
          <option value="Chinese">Chinese</option> 
          <option value="American">American</option> 
        </select></p>
        <p><input class="form-input" type="text" name="post_title" placeholder="Write a title."></p>
        <p><textarea class="form-textarea" name="post_content" placeholder="Write something."></textarea></p>
        <p>+ Picture upload</p>
        <p> <input type="file" name="image"></p>
        <input class="btn btn-lg btn-block" type="submit" value = "add">
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
