<h4><a href="/">Restaurant review website</a> || <a href="/korean">Korean</a> | <a href="/japanese">Japanese</a> | <a href="/chinese">Chinese</a> | <a href="/western">American</a> || <a href="/foods/write">Write</a> || <a href="/users/signup">Sign up</a></h4>

