<h4><a href="/">Restaurant review website</a> || <a href="/korean">Korean</a> | <a href="/japanese">Japanese</a> | <a href="/chinese">Chinese</a> | <a href="/western">American</a> || <a href="/foods/write">Write</a> ||
<% if session[:user_id].nil? %>
<a href="/users/signup">Sign up</a> | <a href="/users/login">Login</a>
<% else %>
<a href="/users/logout_complete">Log out</a>
<% end %>
</h4>
